# ===== LangChain Core =====
langchain
langchain-core
langchain-community

# ===== LLM Integrations =====
langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain_huggingface

# ===== Agent / Workflow =====
langgraph

# ===== Backend =====
fastapi
uvicorn

# ===== Utils =====
python-dotenv
tiktoken
requests

streamlit